{% extends "layouts/base.html" %}

{% block title %} Jogar Formulação {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% if grupo %}

    <div class="col-12 px-0 mb-3">   <!-- Indicação de qual é o GRUPO" -->
        <label class="fs-4 fw-extrabold mb-0">{{ grupo.Nome }}</label>
    </div>
    {% if fase == 1 %}
        <p class="lead">Estamos na <b>Fase 1</b>. Escreva nos campos "quando comprar" e "quanto comprar" abaixo suas "instruções ao operador", que deem 
            forma a sua proposta de sistema de reposição do estoque para o caso proposto. Conclua teclando em "salvar".</p>
    {% endif %}

    <div class="row mt-4 mb-2">
        <div class="col-12 px-0 text-center">
            <label class="fs-4 fw-bold mb-0">Instruções ao seu operador:</label>
        </div>
    </div>
    
    <div class="row mb-8">     <!-- Formulario p/ editar QUANDO e QUANTO -->
        <form action="{% url 'jogovarejo:salvaMetodo' %}" method="post">
            {% csrf_token %}
            <fieldset>
                <div class="row">
                    <div class="col-12 col-xl-6 my-4">   <!-- QUANDO E QUANTO COMPRAR -->
                        <label for="quando">Quando comprar</label>
                        <textarea class="form-control" name="quando" id="quando" rows="6" style="font-size: 18px" required>{{ grupo.Quando }}</textarea>
                    </div>
                    <div class="col-12 col-xl-6 my-4">
                        <label for="quanto">Quanto comprar</label>
                        <textarea class="form-control" name="quanto" id="quanto" rows="6" style="font-size: 18px" required>{{ grupo.Quanto }}</textarea>
                    </div>
                    <input type="hidden" name="numGrupo" value="{{ grupo.Numero }}">
                    {% if fase == 1 or request.user.username == "professor" %}
                        <div class="col-12 col-xl-6">
                            <input class="btn btn-dark" type="submit" value="Salvar" style="color: #ffffff; background-color: #262B40">
                        </div>
                    {% endif %}
                </div>
            </fieldset>
        </form>
        <div class="row mt-2">
            {% if messages %}
                <div class="messages">
                    {% for message in messages %}
                        <!--  <div {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>-->
                        {% if message.tags == "success" %} <div class ="h5" style="color: green">{{ message }}</div> {% endif %}
                        {% if message.tags == "error" %}   <div class ="h5" style="color: red"  >{{ message }}</div> {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

{% else %}
    <p>Não existe o item.</p>
{% endif %}


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
