{% extends "layouts/base.html" %}

{% block title %} Sobre {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="mt-6 mb-6">
    <blockquote class="blockquote text-left">
        Jogo SCM - 2024
    </blockquote>
    
    <blockquote class="blockquote text-left">
        Aplicativo para jogo de gestão de um estágio da cadeia de suprimentos, no caso o varejo.
    </blockquote>
</div>

<div class="mb-6">
    <blockquote class="blockquote text-left">
        Projetado pelo Professor Euclydes da Cunha Neto (euclydescn@outlook.com) para ser usado em suas atividades didáticas.
    </blockquote>

    <blockquote class="blockquote text-left">
        Direitos reservados.
    </blockquote>
</div>

<div class="mb-8">
    <blockquote class="blockquote text-left">
        Mentoria em desenvolvimento de software: Edward José Pacheco Condori (edwardspc@gmail.com).
    </blockquote>
    
</div>



{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
